
.carousel-store{
display:flex;
align-items:center;
gap:10px;
}

.carousel-track{
display:flex;
gap:20px;
overflow-x:auto;
scroll-snap-type:x mandatory;
scroll-behavior:smooth;
padding:10px;
}

.carousel-track::-webkit-scrollbar{
display:none;
}

.carousel-track .card{
scroll-snap-align:start;
}

.arrow{
background:#0d0d0d;
border:none;
color:white;
font-size:30px;
cursor:pointer;
padding:12px;
border-radius:8px;
transition:0.3s;
}

.arrow:hover{
background:var(--morado);
}

.card.small{
width:220px;
flex:0 0 auto;
}

.card.small img{
height:140px;
object-fit:cover;
}

.grid-store{
display:grid;
grid-template-columns:repeat(4,minmax(0,1fr));
gap:20px;
margin-top:20px;
}

.filtros{
display:flex;
gap:12px;
margin-bottom:20px;
flex-wrap:wrap;
}

.filtros button{
background:var(--gris);
border:1px solid var(--morado);
color:white;
padding:8px 16px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.filtros button:hover{
background:var(--morado);
}

.preview{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
opacity:0;
transition:0.4s;
pointer-events:none;
}

.card:hover .preview{
opacity:1;
}

